.root {
  text-align: center;
}

.header {
  background-color: rgb(210, 197, 173);
  padding: 10px;
  color: rgb(47, 46, 46);
  font-size: 20pt;
}

.searchPane {
  background-color: rgb(169, 173, 145);
  font-size: 15pt;
  padding: 3pt 3pt;
}

.searchResultsPane {
  background-color: rgb(177, 198, 154);
  font-size: 15pt;
  padding: 10pt;
}
